html, body, main 
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  background-color: #F1EFEF;
  font-family: 'Poppins', sans-serif;
}
#navbar 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F1EFEF;
  color: black;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.5s;
  transform-origin: top;
  padding-right: 40px; 
}

.logo a img 
{
  max-height: 45px; 
  width: auto;
}

#navbar ul 
{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 40px;
}

#navbar li 
{
  margin-left: 20px; 
}

#navbar a 
{
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
  position: relative;
  transition: all 0.3s;
}

#navbar li a::before 
{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #ff9900; 
  transition: all 0.3s;
}

#navbar li a:hover::before 
{
  width: 100%;
  left: 0;
}

#carousel 
{
  position: relative; 
  height: 400px;
  top: 0;
  left: 50%;
  overflow: hidden;
  z-index: 999;
  transform: translateX(-50%);
}
#carousel div 
{
  position: absolute;
  transition: transform 400ms, left 400ms, opacity 400ms, z-index 0s;
  opacity: 1;
}
#carousel div img 
{
  width: 400px;
  transition: width 400ms;
   -webkit-user-drag: none;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   border-radius: 10px;
}
#carousel div.hideLeft 
{
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img 
{
  width: 200px;
}
#carousel div.hideRight 
{
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img 
{
  width: 200px;
}
#carousel div.prev 
{
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel img:hover 
{
  cursor: default;
}
#carousel div.prev img 
{
  width: 300px;
}
#carousel div.prevLeftSecond 
{
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img 
{
  width: 200px;
}
#carousel div.selected 
{
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next 
{
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img 
{
  width: 300px;
}
#carousel div.nextRightSecond 
{
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img 
{
  width: 200px;
}

.buttons 
{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%; 
  display: flex;
  justify-content: space-between; 
  width: 80%; 
  max-width: 1000px; 
  padding: 0 10px; 
  z-index: 1000; 
}

.button-82-pushable 
{
  width: 60px;
  height: 60px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.button-82-front img 
{
  width: 100%;
  height: 100%;
  display: block;
  
}

.dedicated-div 
{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px 5%; 
  max-width: 1200px; 
  margin: 0 auto; 
  margin-top: 56px;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
}

.quote-section 
{
  flex: 2; 
  padding-right: 5%; 
  text-align: center; 
}

.quote-section blockquote 
{
  font-size: 1.5em;
  color: #555;
  margin-bottom: 10px;
  text-align: left; 
}

.quote-section cite 
{
  display: block;  
  margin-top: 10px; 
}

.quote-section button 
{
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.quote-section button:hover 
{
  background-color: #ff9900;
}

.image-section {
  flex: 1;
  text-align: right;
}

.image-section video {
  max-width: 70%; 
  border-radius: 8px;
}
.btn-group {
  text-align: center;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.explore-btn, .learn-more-btn {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.explore-btn:hover, .learn-more-btn:hover {
  background-color: #ff9900;
}

.dedicated-div:nth-child(odd) .quote-section {
  order: 2; 
  text-align: right; 
}

.dedicated-div:nth-child(odd) .image-section {
  order: 1; 
  text-align: left; 
}


.dedicated-div:nth-child(even) .image-section video,
.dedicated-div:nth-child(even) .image-section img {
  margin-left: auto; 
}

.dedicated-div:nth-child(odd) .image-section video,
.dedicated-div:nth-child(odd) .image-section img {
  margin-right: auto; 
}


.podcast {
  transition: transform 0.3s;
  overflow: hidden;  
}

.podcast:hover {
  transform: scale(1.1); 
}

.podcast-section {
  padding: 50px 5%;
  background-color: whitesmoke;
  text-align: center;
}

.podcast-section h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.podcast-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.podcast {
  flex-basis: calc(33.333% - 20px); 
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.podcast img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.podcast-info {
  padding: 15px;
  text-align: left;
}

.podcast-info h3 {
  font-size: 1.5em;
  margin-top: 0;
}

.podcast-info audio {
  width: 100%;
  margin-top: 20px;
}

.testimonials {
  padding: 20px 0;
  background-color: whitesmoke; 
  text-align: center;
}

.testimonial-card {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-text {
  font-style: italic;
}

.testimonial-author {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars {
  margin-right: 10px;
  font-size: 20px;
  color: #ffa500;  
}

.author-name {
  font-weight: bold;
}

.newsletter {
  padding: 40px 0;
  background-color: whitesmoke; 
  text-align: center;
}

.newsletter h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 16px;
  margin-bottom: 30px;
}

.newsletter-input-group {
  display: flex;
  width: 30%; 
  max-width: 600px;
  margin: 0 auto;
}

.newsletter-input-group input[type="email"] {
  padding: 10px;
  flex: 1;
  border: none;
  border-radius: 5px 0 0 5px;
  margin-right: 5px;
}

.newsletter-input-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #ff9900;
  color: #fff;
  cursor: pointer;
}


.newsletter-input-group button:hover {
  background-color: #ff9900;
}

footer {
  background-color: whitesmoke;
  color: black;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
}

.footer-social img {
  height: 25px;
  width: auto;
  transition: opacity 0.3s;
}


.footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #ff9900;
}

.footer-social {
  display: flex;
}

.footer-social a {
  margin-right: 15px;
}

.footer-social img {
  max-height: 25px;
  transition: opacity 0.3s;
}

.footer-social a:hover img {
  opacity: 0.8;
}

